<router-outlet></router-outlet>

<!--<h2>Sample App</h2>-->
<!--<share-buttons [url]="url" 
               [pinterest]="false"
               [tumblr]="false"
               [reddit]="false"
               [stumbleUpOn]="false">
</share-buttons>-->
<h2>{{ 'TITLE' | translate }}</h2>
<!--<div>
    <h2>{{ 'TITLE' | translate }}</h2>
    <button ceiboShare [facebook]="{u: repoUrl}">Facebook</button>
    <button ceiboShare [googlePlus]="{url:repoUrl}">Google Plus</button>
    <button ceiboShare [twitter]="{url:repoUrl, text:'Checkout this awesome ng2 social share directive', hashtags:'angular2, social, ceiboIT'}">Twitter</button>
</div>
<p>
    Drag & Drop Example
</p>
<div class="wrapper">
    <div class="container" [dragula]="'first-bag'">
        <div>As soon as you start dragging an element, a drag event is fired</div>
        <div>Whenever an element is cloned because <b>copy: true</b>, a <b>cloned</b> event fires</div>
        <div>The <b>shadow</b> event fires whenever the placeholder showing where an element would be dropped is moved to a different container or position</div>
        <div>A <b>drop</b> event is fired whenever an element is dropped anywhere other than its origin <em>(where it was initially dragged from)</em></div>
    </div>
    <div class="container" [dragula]="'first-bag'">
        <div>If the element gets removed from the DOM as a result of dropping outside of any containers, a <b>remove</b> event gets fired</div>
        <div>A <b>cancel</b> event is fired when an element would be dropped onto an invalid target, but retains its original placement instead</div>
        <div>The <b>over</b> event fires when you drag something over a container, and <b>out</b> fires when you drag it away from the container</div>
        <div>Lastly, a <b>dragend</b> event is fired whenever a drag operation ends, regardless of whether it ends in a cancellation, removal, or drop</div>
    </div>
</div>-->
